doctype html

head
  title Animals
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('http://localhost:4000');
    socket.on('new_animal', function(data){
    });

body
  h1 Animals list
  if animals
    table
      thead
        td nickname
        td name
        td gender
        td age
        td food
      each animal in animals
        tr
          td= animal.nickname
          td= animal.name
          td= animal.gender
          td= animal.age
          td= animal.food